/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');

/* font-family: 'Montserrat', sans-serif; */
/* Google font  */

*{
    margin:0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* Header Section Start  */
#headerPart{
    overflow: hidden;
}
.nav-item{
    margin-right: 25px;
}
.nav-item a{
    transition: 0.3s;
}
.nav-item a:hover{
    color: skyblue !important;
    
}
.fa-bars{
    font-size: 25px;
}
nav{
    position:absolute;
}


.header-body{
    background: url(../image/body/body-background.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    
  
}
.headerContent{
    padding-top: 160px;
    padding-bottom: 50px;
    
}
.intro{
    margin-left: 20px;

}

.socialLink {
    color: #fff;
    display: block;
    float: left;
    margin-right: 2px;
    margin-left: 15px;
    font-size: 20px;
    transition: 0.3s;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 9px;
    
}

.socialLink:hover {
    border-radius: 5px;
    background: #fff;
    color: black;
}


/* Header Section End  */

/* service start  */

section#service {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #2C2A2F;
}
.card{
    box-shadow: 1px 3px 10px #ddd;
}
.card-icon{
    font-size: 4rem;
}
.markText{
    font-size: 10px;
    margin-top: 10px;

}
.card-text{
    color:#ddd;
    font-size: 15px;
}
.fa-html5{
    color: #ea3f00;
}
.fa-bootstrap{
    color: #BE4BDB;
}
.fa-american-sign-language-interpreting{
    color: #ea3f00;
}
.fa-life-ring{
    color: #ea3f00;
}
.fa-code{
    color: #BE4BDB;
}
.fa-truck-loading{
    color: #BE4BDB;
}
/* service end  */



/* About me  */
section#aboutMe {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #2C2A2F;
}
.aboutPictureTitle{
    color:#fff;
    text-align: center;
    margin-top: 15px;
    padding-bottom:14px;
    font-size:20px;
}
.aboutDetailes {
    color: #ddd;
    text-align: justify;
}
/* About me  */

/* skill start  */
section#skill {
    padding-top: 25px;
    padding-bottom: 35px;
    background-color: #2C2A2F;

}
.counter {
    font-size: 35px;
    /* font-weight: bold; */
}
.counter-percentage{
    font-size: 35px;
}
.skillCard{
    background-color: #212529;
    color:#fff;
   
}
.fa-wordpress{
    color: #3398c7;
}
/* skill end  */

/* contact  */
section#contactMe{
    padding-top: 25px;
    padding-bottom: 5px;
    background-color: #2C2A2F;

}
#email, #message, #fullName{
    font-size: 15px;
}
.inputReset{
    margin-left: 7px;
}
.myForm input, #message{
    background: #333;
    color:#fff;
}
.myForm input::placeholder, #message::placeholder{
    color: #ddd;
}
.submit-reset{
    margin-bottom: 30px;
}


/* ============================================ */


#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: green;
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: red;
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
/* ============================================ */

/* Contact  */

/* footer  */
footer#footer{
    background-color: #333;
}

.copyright{
    color:#fff;
    font-size: 15px;
    padding-top: 12px;
}
.copyright-reserve{
    font-weight: 500;
}
.copyright-name{
    color: #fff;
    transition : 0.2s;
}
.copyright-name:hover{
    color:blue;
}



/* footer  */

/* for responsive  */

@media (max-width:768px){
    .navbar-nav{
        text-align: center;
    }
    .nav-item{
        margin-right: 5px;
    }
    
    .intro{
        font-size: 35px;
        margin-left: 20px;
        
    }
    .forWork{
        font-size:29px;
    }
    .headerContent{
        overflow: hidden;
        margin-top: 40px;
        padding-bottom: 80px;
        padding-top: 80px;
    }
    .socialLink {
        font-size: 15px;
        padding: 6px;
    }
    .aboutPictureTitle{
        border-bottom: 1px solid white;
        
    }
    .aboutDetailes{
        font-size:15px ;
    }
    .copyright{
        font-size:12px ;
    }
    
    
}

@media (max-width:578px){
    .nav-item a:hover{
        transform: scale(1.1);
    }
    .intro{
        font-size: 25px;
        margin-left: 20px;
        
    }
	.forWork{
		font-size:17px;
	}
    .aboutTitle{
        font-size: 16px;
        font-weight: bold;
        text-shadow: 1px 1px black;
    }
    .copyright{
        font-size:11px ;
    }
  
    
}
@media (max-width: 280px){
    .socialLink {
         font-size: 11px;
        padding: 2px;
        margin-left: 4px;
    }
    .socialLink:first-child {
        margin-left: 19px;
    }
    .intro {
        font-size: 23px;
    }
	.forWork{
		font-size:12px;
	}
    .copyright{
        font-size:10px ;
    }
    .navbar-brand{
        width: 100px;
    }
    .submit, .reset{
        font-size:10px
    }
    .logo {
        width: 59%;
    }
    .logo-image {
        width: 94%;
        margin-top: -2px;
    }
    .aboutTitle {
        font-size: 14px;
    }
    .aboutDetailes {
        font-size: 13px;
    }
    .aboutPictureTitle{
        font-size:16px;
    }
    .all-heading-title{
        font-size: 18px;
        margin-bottom: -10px;
    }
    .counter {
        font-size: 29px;
    }
    .card-title {
        font-size: 16px;
    }
    .card-text {
        font-size: 14px;
    }
    .fa-bars {
        font-size: 21px;
    }
    .nav-link {
        font-size: 14px;
    }
	
}